<!DOCTYPE html>
<html>
  <head>
    <title>Vote Music Festivals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <%= react_component "Header/Header", { loggedIn: logged_in?, votingBoothInUse: @voting_booth&.occupied?, userEmail: current_user&.email } %>

    <%= react_component "AlertBox/AlertBox", { idx: 0, variant: variant_helper, message: (flash[:notice] || flash[:alert]) } %>

    <%= yield %>

    <%= react_component "Footer/Footer" %>
  </body>
</html>
